.modalClass{
    position: absolute;
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    /* width: 400; */
    background-color:white;
    border: '2px solid black';
    box-shadow: 24;
  
    
}
.divClass{
   

    display: flex;
    align-items: center;
    border: 1px solid;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
}
.divClassSelected{
    display: flex;
    align-items: center;
    border: 1px solid blue  ;
    margin: 5px;
    border-radius: 5px;
    padding: 3px; 
}
/* .divClassSecondary{
    display: flex;
    align-items: center;
    border: 1px solid blue  ;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;


} */