.login{
    margin-top: 2rem;
    background-color: rgb(225, 241, 250);
    padding: 0.5rem;
    border-radius: 100px;
    margin-right: 2px;
    margin-bottom: 2px;

}
.button{
    margin-top: 5rem;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}